div aside{
    overflow-y: scroll;
    width: 85%;
    min-width: 85%;
    max-width: 85%;
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
    word-wrap: break-word;
}

div fieldset{
    width: 85%;
}
