.container ::placeholder{
    color: white;
}

.container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
   
.container ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

fieldset span{
    color: white;
}

fieldset legend{
    color: white;
}