.fill{
    background-image: url("doors.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

main{
    height: 100vh;
    margin-top: -72px;
    padding-top: 72px;
}

@media (min-width: 415px) {
    .fill{
        background-image: url("castle.jpg");
    }
}